.main__container {
	display: flex;
	flex-direction: column;
}

.flex__container {
	display: flex;
	flex-direction: column;
}

.adopt__button {
	background-color: transparent;
	border-radius: 2px;
	border: 2px solid black;
}

@media screen and (min-width: 760px) {
	.main__flex {
		align-self: center;
		display: flex;
		flex-direction: row;
	}
}
