.form__container {
	align-self: center;
}

.name__form {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 0.5rem;
}
.name__form label {
	display: block;
	margin: 3px;
}
.name__form button {
	margin: 0 3px;
	background-color: transparent;
	border: 3px solid hsl(0, 0, 0);
	border-radius: 5px;
	padding: 2px 10px;
}
.input {
	border-radius: 2px;
	border: 1px solid black;
}
